html {
  height:100%;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}
.content {
  position: relative;
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
}
footer {
  height: 500px;
  background-color: #f0f0f0;
}
.button {
  position: relative;
  top: 100px;
  right: 150px;
  cursor: pointer;
  width: 100px;
  height: 200px;
  z-index: 100;
 }
.image {
  position: relative;
  bottom: 255px;
  right: 130px;
  z-index: -1;
  width: 120%;
  height: auto;
}
.image2 {
  position: relative;
  width: 50%;
  height: 50%;
  right: 100px;
  bottom: 275px;
}
 #first_words,
 #second_words,
 #last_words {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 50px;
 }
#first_words {
  left: 50%;
}
#second_words {
  left: calc(50% - 100px);
}
#last_words {
  left: calc(50% - 200px);
}
