body {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  font-size: xx-large;
}
button {
  padding: 25px 30px;
  background-color: #12bc5c;
  border-style: none;
  font-size: large;
  position: relative;
  top: 490px;
  left: 100px;
 }
 button:active {
  background-color: rgb(3, 93, 3);
  color: #fff;
 }
.image {
  width: 400px;
  height: auto;
  position: relative;
  right: 330px;
  top: 350%;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.8;
 }
 .image2 {
  width: 665px;
  height: auto;
  position: relative;
  z-index: -1;
  top:-170px;
  right: 135px
 }
 #first_words,
 #second_words,
 #last_words {
  writing-mode: vertical-rl;
  position: fixed;
  top: 200px;
  left: 50%;
  text-orientation: upright;
 }
#first_words {
  left: 50%;
}
#second_words {
  left: calc(50% - 100px);
}
#last_words {
  left: calc(50% - 200px);
}
