html {
  height:100%;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
}
footer {
  height: 200px;
  background-color: #f0f0f0;
}
button {
  padding: 25px 30px;
  background-color: #12bc5c;
  border-style: none;
  font-size: large;
  bottom: 100px
 }
 button:active {
  background-color: rgb(3, 93, 3);
  color: #fff;
 }
.image,
.image2 {
  position: relative;
}
.image {
  right: 500px;
  width: 50%;
  height: auto;
}
.image2 {
  bottom: 400px;
  right: 150px;
  z-index: -1;
}
 #first_words,
 #second_words,
 #last_words {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 200px;
 }
#first_words {
  left: 50%;
}
#second_words {
  left: calc(50% - 100px);
}
#last_words {
  left: calc(50% - 200px);
}
